@mixin for-mobile-up{
    @media screen and (min-width:600px) {
        @content;
    }
}

@mixin for-tablet-up{
    @media screen and (min-width:1000px) {
        @content;
    }
}

@mixin animation($name, $duration, $delay){
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: ease;
    animation-delay: $delay;
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes drop-top {
    from{
        transform: translateY(-500px);
        visibility: hidden;
    }
    to{
        transform: translateY(0);
        visibility: visible;
    }
}